In [1]:
import pickle
with open('nb_model.pkl', 'rb') as f:
  nb_new = pickle.load(f)

In [2]:
with open('scaled.pkl', 'rb') as f:
  scaled_new = pickle.load(f)

In [3]:
import pandas as pd

new_df = pd.read_csv("sythetic_crop_data.csv")
new_df.head()

,Unnamed: 0,N,P,K,temperature,humidity,ph,rainfall,label
0,42,83.0,60,38,25.597049,80.145093,6.903986,200.834898,rice
1,685,32.0,47,18,27.385390,88.666640,6.702772,58.299331,mungbean
2,135,88.0,51,24,21.776893,57.808406,6.158831,102.086169,maize
3,1096,92.0,81,45,28.010680,76.528081,5.891414,103.704078,banana
4,44,85.0,40,38,26.313555,82.366990,7.224286,265.535594,rice

In [4]:
new_df.drop('Unnamed: 0', axis=1, inplace=True)
new_df.dropna(inplace=True) 
new_df.shape

(4997, 8)

In [5]:
from scipy.stats import boxcox

opt_lambda = boxcox(new_df['K'])[1]
transformed_column = boxcox(new_df['K'], lmbda=opt_lambda)
transformed_column

array([2.22015684, 1.93721336, 2.05366735, ..., 2.08433162, 2.18192675,
       2.14919852])

In [6]:
new_df['K_new'] = transformed_column
new_df.drop('K', axis=1, inplace=True)
new_df.head(50)

,N,P,temperature,humidity,ph,rainfall,label,K_new
0,83.0,60,25.597049,80.145093,6.903986,200.834898,rice,2.220157
1,32.0,47,27.385390,88.666640,6.702772,58.299331,mungbean,1.937213
2,88.0,51,21.776893,57.808406,6.158831,102.086169,maize,2.053667
3,92.0,81,28.010680,76.528081,5.891414,103.704078,banana,2.275896
4,85.0,40,26.313555,82.366990,7.224286,265.535594,rice,2.220157
5,3.0,5,26.916419,99.846716,6.318553,225.632366,coconut,2.192013
6,64.0,46,26.313555,82.366990,7.224286,265.535594,rice,2.253490
7,108.0,82,26.288460,83.390039,5.891458,113.872980,banana,2.296442
8,87.0,60,20.273171,63.912819,6.439072,62.503519,maize,2.019493
9,68.0,60,25.342171,63.318020,6.330554,74.520820,maize,2.069398
10,71.0,56,23.188667,86.208997,6.491506,176.103677,jute,2.220157
11,42.0,52,28.285115,88.439398,7.130279,48.566902,mungbean,2.037062
12,11.0,33,35.990097,52.227805,5.978634,95.371348,mango,2.084332
13,89.0,52,23.094338,81.451393,6.141329,196.658701,jute,2.237365
14,42.0,67,18.994244,15.936294,7.114405,78.697072,chickpea,2.435434
15,14.0,53,29.875702,83.147963,6.623438,40.120442,mungbean,1.886577
16,63.0,43,19.288899,65.470508,6.807488,71.319531,maize,1.937213
17,34.0,32,30.072026,50.960405,6.107296,92.096098,mango,2.181927
18,107.0,72,28.149389,81.544489,5.790768,91.405084,banana,2.282938
19,34.0,34,27.274332,47.168081,6.422711,95.257992,mango,2.171448
20,44.0,56,31.741054,68.635254,7.241149,62.306173,blackgram,1.937213
21,50.0,79,27.813269,62.504605,7.596802,69.755555,blackgram,2.037062
22,2.0,36,29.868601,85.991279,6.401456,58.413941,mungbean,2.000854
23,26.0,5,25.949036,94.738605,6.828983,76.341446,coconut,2.137362
24,4.0,26,27.539075,53.635495,6.797779,47.354082,mango,2.084332
25,26.0,63,23.052764,60.424786,7.016360,52.602853,lentil,2.019493
26,28.0,30,28.940997,93.001090,5.764615,191.772309,coconut,2.125003
27,9.0,18,30.072026,50.960405,6.107296,92.096098,mango,2.098538
28,33.0,5,21.032001,92.964197,7.684420,110.682394,orange,1.792862
29,28.0,27,33.412371,50.525591,6.614486,77.034212,mango,2.137362
30,13.0,132,22.921571,94.896134,6.280223,105.694154,apple,2.659813
31,78.0,38,25.009334,67.816568,6.528631,62.913595,maize,1.959869
32,11.0,28,27.539075,53.635495,6.797779,99.354082,mango,2.098538
33,9.0,29,27.920633,51.779659,6.475449,100.258567,mango,2.181927
34,10.0,73,24.849184,68.980884,7.272428,41.610805,lentil,1.858067
35,63.0,43,22.027210,65.355499,6.272418,83.732801,maize,1.886577
36,29.0,55,23.174096,36.678471,6.962386,162.593126,pigeonpeas,2.069398
37,8.0,35,29.980805,49.486133,6.442393,91.822716,mango,2.171448
38,28.0,30,32.454653,50.696938,6.526654,95.048716,mango,2.137362
39,70.0,57,25.280137,83.153937,6.224066,49.294566,maize,2.053667
40,26.0,68,28.048496,64.076919,7.504931,37.158250,lentil,2.019493
41,2.0,38,32.386975,53.232824,4.691396,90.216332,mango,2.181927
42,90.0,50,14.978470,80.499799,6.294396,71.634374,rice,2.315386
43,108.0,84,25.162782,84.978492,6.110845,90.945546,banana,2.338506
44,64.0,60,23.020383,61.894720,5.680361,63.038434,maize,2.019493
45,6.0,18,28.278043,93.647613,6.095261,171.945796,coconut,2.171448
46,30.0,71,27.149111,67.026643,6.157783,52.508127,lentil,1.937213
47,107.0,7,25.832029,89.004817,6.755192,45.246906,muskmelon,2.275896
48,8.0,37,22.318719,54.961300,7.288377,65.357470,mango,2.160549
49,38.0,15,28.918620,48.139745,5.075505,97.013316,mango,2.171448

In [7]:
X = new_df.drop(['label'], axis=1)
y = new_df['label']

In [8]:
x_scaler = scaled_new.fit_transform(X)

In [9]:
x_scaler
df_scaled = pd.DataFrame(x_scaler, columns=X.columns)
df_scaled

             N         P  temperature  humidity        ph  rainfall     K_new
0     0.976872  0.397865    -0.125548  0.493098  0.758458  2.035788  0.373017
1    -0.449604 -0.028294     0.251041  0.895553  0.481554 -0.868869 -0.869255
2     1.116723  0.102832    -0.929998 -0.561817 -0.267002  0.023440 -0.357960
3     1.228603  1.086275     0.382715  0.322274 -0.635013  0.056410  0.617742
4     1.032812 -0.257764     0.025334  0.598034  1.199245  3.354290  0.373017
...        ...       ...          ...       ...       ...       ...       ...
4992 -1.232768  2.823692    -0.514431  1.094617 -1.077305  0.340816  2.303339
4993  1.452364  0.004487     0.083001  0.548853  0.798028 -1.203564 -0.869255
4994 -1.344648 -0.388890     1.671475 -0.871185  0.161406 -0.092679 -0.223328
4995 -1.288708 -0.323327     0.427580 -1.053139 -1.828551 -0.064551  0.205167
4996 -0.253813 -0.782268     0.066509  1.170301 -0.287876  2.016285  0.061472

[4997 rows x 7 columns]

In [10]:
df_scaled.isnull().sum()
df_scaled.dropna(inplace=True)

In [11]:
y_pred_new = nb_new.predict(df_scaled)

In [12]:
y_pred_new

array(['rice', 'mungbean', 'maize', ..., 'mango', 'mango', 'coconut'],
      dtype='<U11')

In [13]:
df_scaled['Predictions'] = y_pred_new

In [14]:
df_scaled.head(50)

,N,P,temperature,humidity,ph,rainfall,K_new,Predictions
0,0.976872,0.397865,-0.125548,0.493098,0.758458,2.035788,0.373017,rice
1,-0.449604,-0.028294,0.251041,0.895553,0.481554,-0.868869,-0.869255,mungbean
2,1.116723,0.102832,-0.929998,-0.561817,-0.267002,0.023440,-0.357960,maize
3,1.228603,1.086275,0.382715,0.322274,-0.635013,0.056410,0.617742,banana
4,1.032812,-0.257764,0.025334,0.598034,1.199245,3.354290,0.373017,rice
5,-1.260738,-1.405115,0.152285,1.423564,-0.047197,2.541123,0.249449,coconut
6,0.445440,-0.061076,0.025334,0.598034,1.199245,3.354290,0.519368,rice
7,1.676125,1.119057,0.020049,0.646350,-0.634952,0.263637,0.707951,banana
8,1.088753,0.397865,-1.246652,-0.273518,0.118658,-0.783194,-0.508005,maize
9,0.557320,0.397865,-0.179221,-0.301609,-0.030681,-0.538300,-0.288896,maize
10,0.641231,0.266739,-0.632706,0.779484,0.190816,1.531804,0.373017,jute
11,-0.169903,0.135613,0.440505,0.884821,1.069875,-1.067201,-0.430865,mungbean
12,-1.036977,-0.487235,2.063023,-0.825377,-0.514983,-0.113398,-0.223328,mango
13,1.144693,0.135613,-0.652570,0.554792,-0.291087,1.950684,0.448568,rice
14,-0.169903,0.627335,-1.515969,-2.539349,1.048031,-0.453194,1.318198,chickpea
15,-0.953067,0.168394,0.775452,0.634917,0.372377,-1.239327,-1.091577,mungbean
16,0.417470,-0.159420,-1.453921,-0.199952,0.625660,-0.603537,-0.869255,maize
17,-0.393664,-0.520016,0.816794,-0.885233,-0.337923,-0.180143,0.205167,mango
18,1.648155,0.791242,0.411924,0.559189,-0.773519,-0.194224,0.648659,banana
19,-0.393664,-0.454453,0.227654,-1.064337,0.096141,-0.115708,0.159160,mango
20,-0.113963,0.266739,1.168258,-0.050487,1.222451,-0.787216,-0.869255,blackgram
21,0.053858,1.020712,0.341144,-0.340025,1.711891,-0.635409,-0.430865,blackgram
22,-1.288708,-0.388890,0.773956,0.769201,0.066891,-0.866534,-0.589837,mungbean
23,-0.617425,-1.405115,-0.051427,1.182319,0.655241,-0.501198,0.009506,coconut
24,-1.232768,-0.716705,0.283404,-0.758894,0.612300,-1.091917,-0.223328,mothbeans
25,-0.617425,0.496209,-0.661325,-0.438251,0.913104,-0.984955,-0.508005,lentil
26,-0.561485,-0.585579,0.578621,1.100260,-0.809509,1.851107,-0.044760,coconut
27,-1.092917,-0.978956,0.816794,-0.885233,-0.337923,-0.180143,-0.160954,mango
28,-0.421634,-1.405115,-1.086858,1.098518,1.832469,0.198618,-1.503035,orange
29,-0.561485,-0.683923,1.520204,-0.905769,0.360057,-0.487081,0.009506,mothbeans
30,-0.981037,2.758129,-0.688952,1.189759,-0.099946,0.096965,2.303339,apple
31,0.837022,-0.323327,-0.249310,-0.089152,0.241906,-0.774838,-0.769786,maize
32,-1.036977,-0.651142,0.283404,-0.758894,0.612300,-0.032236,-0.160954,mango
33,-1.092917,-0.618360,0.363753,-0.846542,0.168719,-0.013804,0.205167,mango
34,-1.064947,0.824023,-0.283034,-0.034164,1.265497,-1.208956,-1.216749,lentil
35,0.417470,-0.159420,-0.877286,-0.205383,-0.110687,-0.350574,-1.091577,maize
36,-0.533515,0.233957,-0.635775,-1.559739,0.838827,1.256479,-0.288896,pigeonpeas
37,-1.120887,-0.421672,0.797584,-0.954860,0.123228,-0.185714,0.159160,mango
38,-0.561485,-0.585579,1.318528,-0.897676,0.239186,-0.119973,0.009506,mango
39,0.613261,0.299520,-0.192284,0.635200,-0.177227,-1.052373,-0.357960,maize
40,-0.617425,0.660116,0.390678,-0.265768,1.585461,-1.299692,-0.508005,lentil
41,-1.288708,-0.323327,1.304276,-0.777912,-2.286441,-0.218449,0.205167,mango
42,1.172663,0.070050,-2.361612,0.509850,-0.080442,-0.597121,0.791123,maize
43,1.676125,1.184619,-0.216996,0.721369,-0.333039,-0.203589,0.892633,banana
44,0.445440,0.397865,-0.668143,-0.368829,-0.925458,-0.772294,-0.508005,maize
45,-1.176828,-0.978956,0.439016,1.130794,-0.354485,1.447072,0.159160,coconut
46,-0.505545,0.758461,0.201285,-0.126459,-0.268445,-0.986885,-0.869255,lentil
47,1.648155,-1.339552,-0.076066,0.911524,0.553692,-1.134858,0.617742,watermelon
48,-1.120887,-0.356109,-0.815900,-0.696279,1.287446,-0.725035,0.111307,mothbeans
49,-0.281783,-1.077301,0.573909,-1.018447,-1.757843,-0.079937,0.159160,mango

In [15]:
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y, y_pred_new)
print('Model accuracy: {0:.2f}%'.format(accuracy * 100))

Model accuracy: 83.83%